
/* Font Imports */

@font-face{
	
	src: url("fonts/Roboto-Light.ttf");
	
	font-family: roboto;
	
}

/* Id's */

#player{
	
	background: white;
	
	width: 50px;
	
	height: 50px;
	
	margin: auto;
	
	margin-top: 10vh;
	
	transition: 1s;
	
}

#splashScreenLogo{
		
	width: 480px;
		
	height: 400px;
	
	display: block;
	
	margin: auto;
	
	margin-top: 20vh;
	
}

#gameCanvas{
	
	text-align: center;
	
	font-size: 25px;
	
	display: none;
	
	position: relative;
	
}

#gameTitle{
	
	margin-top: 25vh;
	
}

#startButton{
	
	margin-top: 10vh;
	
	font-size: 40px;
	
	transition: 0.5s;
	
}

#startButton:active{
	
	opacity: 0.25;
	
}

/* Classes */

.rotated0{ transform: rotate(0deg); }

.rotated90{ transform: rotate(90deg); }

.rotated180{ transform: rotate(180deg); }

.rotated270{ transform: rotate(270deg); }

.rotated360{ transform: rotate(360deg); }

/* Tags */

body{
	
	background: #282828;
	
	overflow-y: none;
	
	margin: 0px;
	
}

h1{
	
	color: white;
	
}

button{
	
	background: white;
	
	color: #282828;
	
	border: 1px solid black;
	
	padding: 5px;
	
}

/* Other */

*{
	
	font-family: roboto;
	
	-webkit-user-select: none;
	
	-moz-user-select: none;
	
	-ms-user-select: none;
	
	user-select: none;
	
}

/* Mobile View */

@media only screen and (max-width: 600px){
	
	/* Id's */
	
	#splashScreenLogo{
		
		margin-top: 20vh;
		
		width: 240px;
		
		height: 200px;
		
	}

	/* Classes */

	/* Tags */

	/* Other */
	
}