
/* Font Imports */

@font-face{
	
	src: url("fonts/Roboto-Thin.ttf");
	
	font-family: roboto;
	
}

/* Id's */

/* Classes */

/* Tags */

body{
	
	background: #282828;
	
	margin: 0px;
	
	padding: 0px;
	
}

html{
	
	height: 100%;
	
	overflow: hidden;
	
}

button{
	
	background: white;
	
	color: #282828;
	
	border: 1px solid black;
	
	padding: 5px;
	
}

button::-moz-focus-inner {
  
	border: 0;
  
}

/* Other */

*{
	
	font-family: roboto;
	
	outline: none;
	
	-webkit-user-select: none;
	
	-moz-user-select: none;
	
	-ms-user-select: none;
	
	user-select: none;
	
}

/* Mobile View */

@media only screen and (max-width: 600px){
	
	/* Id's */

	/* Classes */

	/* Tags */

	/* Other */
	
}